@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento&display=swap');

body {
  margin: 0px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #38761d;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}

.nav {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 30px;
  font-family: Quattrocento;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav:hover, .current {
  text-decoration: underline;
}

main {
  flex: 1;
}

.section {
  margin: 20px;
  min-height: 200px;
}

h1 {
  color: #38761d;
  text-decoration: underline;
  font-family: Quattrocento;
  font-size: 36px;
}

h2 {
    color: #38761d;
    text-decoration: underline;
    font-family: Quattrocento;
    font-size: 36px;
    text-align: center;
}

h3 {
  display: none;
}

.picture {
  float: right;
  width: 150px;
  min-height: 125px;
}

p, li {
  font-family: Fanwood Text;
  font-size: 18px;
  color: #2d2d2d;
  margin: 0px;
}

span {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    text-decoration: none;
    border-width: 1px;
    border-color: #2d2d2d;
    border-radius: 10px;
    border-style: solid;
    background-color: #f9ba9c;
    padding: 5px;
    color: #e66738;
}

.button:hover {
  background-color: #e66738;
  color: #f3f3f3;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  margin: 0px 10px;
  height: 50px;
}

.middle {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

form {
  width: 60%;
}

label {
  font-family: Fanwood Text;
  font-size: 20px;
}

.input {
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
  font-family: Fanwood Text;
  font-size: 20px;
}

textarea {
  width: 100%;
  font-family: Fanwood Text;
  font-size: 20px;
}

.message {
  margin-top: 20px;
}

.bottom {
  margin-bottom: 10px;
}

button {
  width: 50%;
  margin-top: 15px;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-color: #e66738;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  color: #e66738;
}

button:hover {
  cursor: pointer;
  background-color: #f9ba9c;
  border-color: #f9ba9c;
}

.findme {
  display: none;
}

.findmeProjects {
  display: none;
  width: 50%;
}

footer {
  background-color: #e66738;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  justify-self: flex-end;
}

.footerText {
  color: #f3f3f3;
  text-align: center;
  margin: 0px;
  font-family: Quattrocento;
  font-size: 16px;
}

@media screen and (min-width: 625px) {
  h2 {
    margin: 10px 0px;
  }

  .outerSection {
    display: flex;
    margin: 0px;
  }

  .findme {
    display: inline;
    width: 50%;
  }

  .section {
    margin: 0px 20px;
  }

  .icons {
    justify-content: flex-start;
  }

  footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 775px) {
  .topOuterSection {
    display: flex;
    justify-content: center;
  }

  .section {
    width: 50%;
  }

  .findmeProjects {
    display: inline;
  }

  header {
    background-color: #38761d;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
  }

  .navBar {
    display: flex;
    justify-content: space-around;
  }

  .nav {
    margin: 0px 10px;
  }

  h3 {
    display: block;
    color: #f3f3f3;
    font-family: Quattrocento;
  }

  footer {
    height: 20px;
  }

  .footerText {
    display: none;
  }
}

@media screen and (min-width: 1130px) {
  footer {
    margin-top: 0px;
  }

  h2 {
    margin: 20px 0px;
  }
}