@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento&display=swap');
/* Accent: #f9ba9c */
body {
  margin: 0px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #38761d;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}

.nav {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 30px;
  font-family: Quattrocento;
}

.nav:hover, .current {
  text-decoration: underline;
}

.main {
  flex: 1;
}

.section {
  margin: 20px;
  min-height: 150px;
}

h1 {
  color: #38761d;
  text-decoration: underline;
  font-family: Quattrocento;
  font-size: 36px;
}

h2 {
    color: #38761d;
    text-decoration: underline;
    font-family: Quattrocento;
    font-size: 36px;
    text-align: center;
}

img {
  float: right;
  width: 150px;
}

p, li {
  font-family: Fanwood Text;
  font-size: 18px;
  color: #2d2d2d;
  margin: 0px;
}

span {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    text-decoration: none;
    border-width: 1px;
    border-color: #2d2d2d;
    border-radius: 10px;
    border-style: solid;
    background-color: #f9ba9c;
    padding: 5px;
    color: #e66738;
}

.footer {
  background-color: #e66738;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  justify-self: flex-end;
}

.footerText {
  color: #f3f3f3;
  text-align: center;
  margin: 0px;
  font-family: Quattrocento;
  font-size: 16px;
}